@charset "UTF-8";

*{
    box-sizing: border-box;/*bodyとfooterの余白を埋めるにはhtmlとbodyの高さを指定してあげるといいらしいが変わらない、、*/
}
html{
    font-size: 100%;
}
body{
    font-family: "Yu Gothic Medium","游ゴシック　Medium",YuGothic,"涌ゴシック体","ヒラギノ角ゴPro W3"sans-serif;
    line-height: 1.7;
    color: #432;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
/*HEADER
---------------*/

.logo{
    width: 50px;
    margin-top: 14px;
    margin-left: 14px;
}
.main-nav{
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
    margin-right: 114px;
}
.main-nav li{
    margin-left: 114px;
    
}
.main-nav a{
    color: #666;
}
.main-nav a:hover{
    color: aliceblue;
}
.page-header{
    display: flex;
    justify-content: space-between;
}
.warapper{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}
/*HOME
-------------------*/
.home-content{
    text-align: right;
    margin-top: 302px;
    margin-right: 85px;
}
.page-title{
    color: #fff;
    font-size: 2.5rem;
}
.home-content p{
    color: #fff;
    margin-top: 10px;
    font-size: 1.5rem;
}
/*大きな背景画像*/
.big-bg{
    background-size: cover;
    background-position: center top;
}
#home{
    background-image: url(../image/AdobeStock_321286178.jpeg);
    min-height: 100vh;
}
/*WORKS
--------------------*/
#works{
    background-color: #FDF8F4;
    
}
.section-title{
    text-align: center;
    font-size: 5rem;
    font-family: 'Andika', sans-serif;
    padding-top: 100px;
    color: #666;
}
.grid{
    display: grid;
    grid-template-columns: 500px 500px ;
    padding: 100px 100px 0 100px;
    justify-content: space-between;
    border-bottom: 2px solid #666;
}
.item-name{
    font-size: 2.5rem;
    font-family: 'Andika', sans-serif;
    
}
/*CONTACT
---------------------*/
/*フォーム*/
#contact{
    text-align: center;
    font-family: 'Andika', sans-serif;
    padding-top: 100px;
    background-color: #FDF8F4;
}
.contact-title{
    font-size: 5rem;
    margin-left: auto;
    margin-right: auto;
    color: #666;
}
form div{
    margin-bottom: 14px;
    background-color: #FDF8F4;
}
label{
    font-size: 1.8rem;
    margin-bottom: 10px;
    display: block;
    padding-top: 100px;
    font-family: 'Andika', sans-serif;
   text-align: center;
   
   color: #666;
}

input[type="text"],
input[type="phonenamber"],
input[type="email"],
textarea{
    background: rgba(255,255,255,.5);
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}
input[type="text"],
input[type="phonenamber"],
input[type="email"]{
    width: 100%;
    max-width: 340px;
}
textarea{
    width: 100%;
    max-width: 600px;
    height: 8rem;
    text-align: center;
}
input[type="submit"]{
    display: block;
    cursor: pointer;
    background-color: #ADADAD;
    font-size: 2rem;
    width: 300px;
    padding: 20px 50px 20px 50px;
    color: #fff;
    margin:0 auto;
}
/*FOOTER
---------------------*/
footer{
    background-color: #FDF8F4;
    text-align: center;
}

/*ABOUT
---------------------------*/
#id,
.page-header,
main{
    background-color: #FDF8F4;
    font-family: 'Andika', sans-serif;
}
.profile{
    display: flex;
    justify-content: space-between;
}
.profileimg{
    width: 20%;
    margin-left: 15%;
    margin-top: 50px;
}
.about-title{
    box-sizing: border-box;
    text-align: center;
    font-size: 3rem;
    padding-top: 100px;
    border-bottom:1px #432 solid ;
}
.profile-text{
    margin-right: 15%;
    padding-top: 100px;
}
.desktop-hidden{
    display: none;
}
footer{
    height: 50px;
}

/*レスポンシブ対応*/
@media (max-width:600px) {
    .page-title{
        font-size: 2rem;
    }
    .main-nav{
        font-size: 1rem;
        margin: 0 20px;

    }
    .main-nav li{
        margin: 0 20px;
    }
    .logo{
        width: 10%;
        margin-left: 200px;
    }
    .page-header{
        flex-direction: column;
        align-items: center;
    }
    #works{
        flex-direction: column;
        align-items: center;
    }
    .section-title,
    .contact-title{
        font-size: 2rem;
    }
    .grid{
        display: flex;
        flex-direction: column;
    }
    .item-name{
        font-size: 1.25rem;
    }
    .textarea{
        max-width: 400px;
    }
    /*about*/
    .about-title{
        font-size: 2rem;
        max-width: 500px;
        
    }
    .profile{
        flex-direction: column;
        text-align: center;
        font-size: 1rem;
    }
    .profileimg{
        margin: 0 auto;
        width: 40%;
        margin-top: 10%;
    }
    .desktop-hidden{
        display: block;
    }
    
}
